// Colors
$grey: #333333;
//Navigation Colors
$nav-background: $grey;
$nav-tetx-color: #ffffff;
//Clock
$clock-text-color: #ffffff;
$clock-bg-color: #B5D0E2;
$clock-border-color :#2099E8;
// CountDown
$count-down-title-margin-top: 2.25rem;